<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ PROJECT_NAME }}</title>

    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://media.northbynorthwestern.com/media/img/favicon-hi.ico" />
    <!-- CHARTBEAT -->
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!-- CSS -->
    <script type="text/javascript" src="//use.typekit.net/rwj4edd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css" />

    {{ CSS.push('sass/style.scss') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/style.sass.css') }}
    <link rel="stylesheet" href="/css/style.sass.css" />

    <!-- JS -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.render('js/app-header.min.js') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    {% block outer_content %}
    <div id="bar" class="background-purple">
        <a href="http://northbynorthwestern.com/"><img src="http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png" alt="North by Northwestern"></a>
    </div>

    {% block header_content %}
    {% endblock header_content %}

    {% block content %}
    {% endblock content %}

    {% endblock outer_content %}

    <div class="grid padded background-purple clear">
      <div class="grid__item one-whole lap-and-up-one-quarter">
      <p class="credit"><em>Reporting by&nbsp;</em>&nbsp;Orko Manna, Celena Chong, Danielle Elliott, Kevin Kryah, Rosalie Chan, Ali Pelczar, Burke Evans, Kelly Gonsalves, Scott Brown, Sarah Turbin, Alex Duner, Alice Zhang, Morgan Kinney, Caroline Levy, Jahmeelay Jean-Leger, Jasper Scherer, Kelly Gonsalves, Ashley Wood and Medha Imam</p>
      </div><!--
     --><div class="grid__item one-whole lap-and-up-one-quarter">
        <p class="credit"><em>Photos by&nbsp;</em>&nbsp;Gabe Bergado, Mallory Busch, Bethany DeLong, Timothyna Duncan, Olga Gonzalez-Latapi, Forrest Hanson, Sam Hart, Anne Li, Priscilla Liu, Susie Neilson, Michelle Reisin, Madhuri Sathish, Zach Silva, Jenny Starrs, Megan Suckut, Hillary Thomas, Bethany Tuten and Lucy Wang</p>
      </div><!--
     --><div class="grid__item one-whole lap-and-up-one-quarter">
        <p class="credit"><em>Videos by&nbsp;</em>&nbsp;Julia Clark-Riddell, Adam Mintzer, Jon Palmer, Rosalie Chan, Tanner Howard, Luis Sanchez, Kelly Gonsalves, Scott Brown, Sarah Turbin, Anthony Settipani, Clayton Gentry, Caroline Levy, Jasper Scherer, Katherine Richter and Nick Garbaty</p>
      </div><!--
     --><div class="grid__item one-whole lap-and-up-one-quarter">
         <p class="credit"><em>Editing by&nbsp;</em>&nbsp;Sam Hart, Kevin Kryah, Anne Li and Preetisha Sen</p>
        <p class="credit"><em>Design and development by&nbsp;</em>&nbsp;Alex Duner, Tyler Fisher, Hilary Fung, Dan Hill, KK Rebecca Lai, Sheng Wu and Katie Zhu</p>
        <p class="credit">Data provided by Northwestern University Residential Services</p>
      </div>
    </div>

    {% block extra_foot %}
    {% endblock extra_foot %}
    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/leaflet.js') }}
    {{ JS.push('js/lib/leaflet-providers.js') }}
    {{ JS.push('js/lib/chosen.jquery.min.js') }}
    {{ JS.push('js/lib/responsiveslides.min.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot_js %}{% endblock extra_foot_js %}

</body>
</html>
